#container{
    background-color: antiquewhite;
    width: 50%;
    padding: 20px 20px;
    margin:auto;
    font-size: large;
    font-weight: 200px;
    border: 3px solid black;
    text-align: center;
}
#txtnum2{
    background-color:aquamarine;
    border-radius: 30px 30px;
}
#txtnum1{
    background-color:yellow;
    border-radius: 30px 30px;
    }

input:hover{
    background-color:red;
    }
    input{
    font-size: large;
    font-weight: bold;
    padding: 4px 4px;

    }
h1{
    text-decoration: underline;
    text-align: center;
    }
#rules{
    background-color: rgb(66, 203, 158);
    width:40%;
    padding: 20px 20px;
    margin:auto;
    font-size: large;
    font-weight: bold;
    border: 3px solid black;
}
input{
    background-color: rgb(199, 49, 162);
}
#pob{
    padding: 7px 4px;
    border: 2px solid black;
    background-color:burlywood;
    font-weight:bold;
    font-size:medium;
}
#phno{
    padding: 7px 4px;
    border: 2px solid black;
    background-color:rgb(231, 137, 14);
    font-weight:bold;
    font-size:medium;
}
#gender{
    padding: 7px 4px;
    border: 2px solid black;
    background-color:rgb(134, 16, 237);
    font-weight:bold;
    font-size:medium;
    width: 30%;
}
#des{
    padding: 7px 5px;
    border: 2px solid black;
    background-color:rgb(51, 15, 198);
    font-weight:bold;
    font-size:medium;
}